#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens2 --gateway=10.0.0.1 --ip=10.0.0.100 --nameserver=10.0.0.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost

# Root password
rootpw YourRootPasswordGoesHere
# System services
services --disabled="chronyd"
# System timezone
timezone America/Chicago --isUtc --nontp
user --groups=wheel --name=sysadmin --password=YourPasswordGoesHere --gecos="Systems Administrator"

reboot

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

#####################################################################
# This isn't necessary. CentOS only. Will take kernel 3.10 to 4.4   #
# Change kernel-lt to kernel-ml for the latest mainline kernel.     #
# Latest ml is 4.19 at the time of this push.                       #
#####################################################################
%post
#!/bin/bash
yum update -y
yum install vim git -y
rpm --import https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
rpm -Uvh http://www.elrepo.org/elrepo-release-7.0-3.el7.elrepo.noarch.rpm
yum --enablerepo=elrepo-kernel install kernel-lt -y
sed -i 's/saved/0/g' /etc/default/grub
grub2-mkconfig -o /boot/grub2/grub.cfg

%end
######################################################################
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
