#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens2 --gateway=10.0.0.1 --ip=10.0.0.100 --nameserver=10.0.0.1 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=localhost

# Root password
rootpw Password
# System services
services --disabled="chronyd"
# System timezone
timezone America/Chicago --isUtc --nontp
user --groups=wheel --name=sysadmin --password=Password --gecos="Systems Administrator"

reboot

# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal install
@core
kexec-tools

%end

# ############################################## #
#      This is not necessary for kickstart       #
# ############################################## #
%post
#!/bin/bash
dnf update -y
dnf install vim git -y
%end
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
